.intro-quote {
  padding: 1rem;
}

.intro-quote-bg {
  position: relative;
  overflow: hidden;
  background: #000000;
}


.intro-quote-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center 50%;
  transform: scale(1.50);
}


.intro-quote-bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  pointer-events: none;
}


.intro-quote-inner {
  position: relative;
  inset: auto;
  padding: 1rem;
  text-align: center;
  z-index: 1;
}

.intro-quote-text {
  margin: 0 auto;
  max-width: 900px;
  color: #f7f7f7;
  font-size: 1.2rem;
  line-height: 1.75;
  font-weight: 500;
}

.intro-quote-text::before {
  content: "”";
  display: block;
  color: #f7f7f7;
  font-size: 8rem;
  line-height: 1;
  margin-bottom: -4rem;
}


@media (min-width: 768px) {
  .intro-quote {
    padding: 1rem;
  }
}

@media (min-width: 1024px) {
  .intro-quote {
    padding: 2rem;
  }
}