.stats {
  padding: 6rem;
  background-color:#f7f7f7;
}

.stats-inner {
  max-width: 1100px;
  margin: 0 auto;
}

.stats-grid {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.stat-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 1rem;
}

.stat-number {
    text-align: center;
    font-weight: 600;
    color: #4a4a4a;
}

.stat-label {
    color: #6d6d6d;
}

@media (min-width: 768px) {
  .stats-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
  }

  .stats {
    font-size: 2rem;
  }

  .stat-number {
    font-size: 4rem;
  }
}