.stats {
  padding: 1rem;
  background-color: #f8f9fa;
}

.stats-inner {
  margin: 0 auto;
}

.stats-grid {
  list-style: none;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.6rem;
}

.stat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 0.6rem;
  padding: 1.6rem 0rem;
}

.stat-card:nth-child(2) {
  background-color: #eceff2;
}

.stat-icon {
  background-color: #f8f9fa;
  font-size: 1.4rem;
  color: #454545;
  padding: 0.6rem;
  border-radius: 4px;
}

.stat-number {
  font-size: 2rem;
  font-weight: 600;
  color: #262626;
}

.stat-label {
  font-size: 1.4rem;
  font-weight: 500;
  color: #4a4a4a;
}

@media (min-width: 768px) {
  .stats {
    padding: 1rem;
  }
  .stat-card {
    position: relative;
  }
  .stats-grid {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 0rem;
  }

  .stat-number {
    font-size: 2.6rem;
  }

  .stat-label {
    font-size: 1.6rem;
  }
}

@media (min-width: 1024px) {
  .stats {
    padding: 2rem;
  }

  .stat-number {
    font-size: 3rem;
  }

  .stat-label {
    font-size: 2rem;
  }
}
