.stats {
  padding: 2rem;
  background-color: #f7f7f7;
}

.stats-grid {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.6rem;
}

.stat-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 0.6rem;
  background-color: #f7f7f7;
}

.stat-number {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: #262626;
}

.stat-label {
  font-size: 1.4rem;
  font-weight: 500;
  color: #4a4a4a;
}

@media (min-width: 768px) {
  .stats {
    padding: 2.6rem;
  }

  .stats-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .stat-number {
    font-size: 2.6rem;
  }

  .stat-label {
    font-size: 1.6rem;
  }
}

@media (min-width: 1024px) {
  .stats {
    padding: 4rem 0rem;
  }

  .stat-number {
    font-size: 3rem;
  }

  .stat-label {
    font-size: 2rem;
  }
}
